.main_btn {
  width: 131px;
  height: 52px;

  border: 2px solid #008be6;
  border-radius: 35px;
  background-color: #ffffff;

  font-family: "Gmarket Sans TTF";
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -0.02em;
  color: #008be6;

  margin-top: 15px;
}
